.mediazer-modal .modal-header {
  padding: 5px 15px;
}
.mediazer-modal .modal-body {
  padding: 0px 15px;
}
.mediazer-modal .modal-footer {
  padding: 10px 15px;
}
.mediazer-wrapper {
  display: block;
  border: 1px solid #3C8DBC;
  padding: 0px 15px 0px 0px;
  width: 300px;
  height: 36px;
  max-height: 36px;
  overflow: hidden;
  font-family: sans-serif;
}
.mediazer-wrapper button {
  border-radius: 0px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}
.mediazer-wrapper span.MZ-medias {
  line-height: 36px;
}
.mediazer-wrapper .MZ-toggle {
  border-radius: 0px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}
#mediazer {
  font-family: sans-serif;
}
#mediazer .MZ-root {
  cursor: pointer;
}
#mediazer .modal-content {
  overflow: auto;
}
#mediazer .MZ-actions {
  width: 100%;
  display: block;
  text-align: right;
  padding: 10px 30px;
  background-color: #F57979;
  color: white;
  line-height: 26px;
}
#mediazer .MZ-actions .MZ-info {
  display: inline-block;
  float: left;
  text-align: left;
  width: 60%;
}
#mediazer .MZ-actions .actions {
  float: right;
  display: inline-block;
  text-align: right;
}
#mediazer .MZ-actions .actions .MZ-btn {
  cursor: pointer;
  border: 1px solid white;
  padding: 5px 5px;
}
#mediazer .MZ-actions .actions .MZ-btn:hover {
  color: black;
}
#mediazer .MZ-colums {
  box-sizing: border-box;
  padding-bottom: 20px;
  max-height: 500px;
  overflow: auto;
}
#mediazer .MZ-colums.MZ-body {
  background-color: aliceblue;
  min-height: 200px;
  padding: 15px 0px;
}
#mediazer .MZ-colums.MZ-body .MZ-file-box label {
  width: 100%;
}
#mediazer .MZ-colums.MZ-body .MZ-file-box .MZ-thumb {
  height: 150px;
  border-radius: 0px;
  width: 100%;
}
#mediazer .MZ-colums.MZ-body .MZ-file-box .MZ-thumb.checked {
  border-color: #F57979;
  border-width: 2px;
}
#mediazer .MZ-colums.MZ-body .MZ-file-box .MZ-thumb:hover {
  border-color: #F57979;
}
#mediazer .MZ-colums.MZ-body .MZ-file-box input.MZ-selector {
  right: 22px;
  position: absolute;
  top: 5px;
}
#mediazer .MZ-colums.MZ-body .MZ-file-box .MZ-edit-btn {
  position: absolute;
  top: 0px;
  border: none;
  background-color: #F57979;
  padding: 0px;
  margin: 0px;
  width: 30px;
  border-radius: 0px;
  color: white;
  font-size: 20px;
}
#mediazer .MZ-colums.MZ-left {
  background-color: #fde4e4;
  padding: 15px 15px;
  min-height: 200px;
}
#mediazer .MZ-colums.MZ-left .MZ-filetree {
  max-height: 300px;
  padding-left: 5px;
  border-left: 1px solid black;
  margin-left: 5px;
}
#mediazer .MZ-colums.MZ-uploader {
  margin: 0px;
  background-color: whitesmoke;
  padding: 10px 20px;
  overflow: hidden;
}
#mediazer .MZ-colums.MZ-uploader .MZ-upload-info-box {
  height: 140px;
  overflow-y: auto;
  margin-bottom: 0px;
}
#mediazer .MZ-colums.MZ-uploader .MZ-upload-info-box .panel-heading {
  padding: 2px 15px;
  text-align: center;
  background-color: #F57979;
  color: white;
}
#mediazer .MZ-colums.MZ-right {
  background-color: #EEFDE4;
}
#mediazer .MZ-colums.MZ-right .MZ-right-close {
  display: block;
  text-align: right;
  border-bottom: 1px solid #C7C7C7;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#mediazer .MZ-colums.MZ-right .MZ-right-close i {
  cursor: pointer;
  border: 1px solid #D0D0D0;
  padding: 5px 5px;
  border-radius: 25px;
  margin-top: 10px;
}
#mediazer .MZ-colums.MZ-right .MZ-edit-box #MZ-delete-media {
  display: block;
  text-align: right;
  cursor: pointer;
  color: gray;
}
#mediazer .MZ-colums.MZ-right .MZ-edit-box #MZ-delete-media:hover {
  color: #000000;
}
#mediazer .MZ-colums.MZ-right .MZ-edit-box .MZ-thumb-edit {
  max-height: 150px;
  margin-bottom: 0px;
  width: 100%;
}
#mediazer .MZ-colums.MZ-right .MZ-edit-box .form-group {
  margin-bottom: 5px;
}
#mediazer .MZ-colums.MZ-right .MZ-edit-box input {
  height: 20px;
}
#mediazer .MZ-colums.MZ-right .MZ-edit-box small {
  font-size: 10px;
}
.uploader {
  background-color: #E5FDE4;
  border: 2px dotted #A5A5C7;
  width: 100%;
  color: #92AAB0;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 200%;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.uploader div.or {
  font-size: 50%;
  font-weight: bold;
  color: #C0C0C0;
  padding: 10px;
}
.uploader div.browser label {
  background-color: #F57979;
  padding: 5px 15px;
  color: white;
  font-size: 40%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  display: block;
  width: 300px;
  margin: 10px auto 0px auto;
  box-shadow: 2px 2px 2px #888888;
}
.uploader div.browser label:hover {
  background-color: #444F61;
}
.uploader div.browser span {
  cursor: pointer;
}
.uploader div.browser input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: .0;
  filter: alpha(opacity=0);
  -o-transform: translate(250px, -50px) scale(1);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
/**
* Tree Views
*/
UL.jqueryFileTree {
  font-family: Verdana, sans-serif;
  font-size: 11px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  display: none;
}
UL.jqueryFileTree LI {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  white-space: nowrap;
}
UL.jqueryFileTree LI.directory {
  background: url(images/directory.png) left top no-repeat;
}
UL.jqueryFileTree LI.expanded {
  background: url(images/folder_open.png) left top no-repeat;
}
UL.jqueryFileTree LI.file {
  background: url(images/file.png) left top no-repeat;
}
UL.jqueryFileTree LI.wait {
  background: url(images/spinner.gif) left top no-repeat;
}
UL.jqueryFileTree LI.selected > a {
  font-weight: bold;
}
UL.jqueryFileTree LI.ext_3gp {
  background: url(images/film.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_afp {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_afpa {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_asp {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_aspx {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_avi {
  background: url(images/film.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_bat {
  background: url(images/application.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_bmp {
  background: url(images/picture.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_c {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_cfm {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_cgi {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_com {
  background: url(images/application.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_cpp {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_css {
  background: url(images/css.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_doc {
  background: url(images/doc.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_exe {
  background: url(images/application.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_gif {
  background: url(images/picture.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_fla {
  background: url(images/flash.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_h {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_htm {
  background: url(images/html.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_html {
  background: url(images/html.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_jar {
  background: url(images/java.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_jpg {
  background: url(images/picture.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_jpeg {
  background: url(images/picture.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_js {
  background: url(images/script.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_lasso {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_log {
  background: url(images/txt.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_m4p {
  background: url(images/music.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_mov {
  background: url(images/film.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_mp3 {
  background: url(images/music.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_mp4 {
  background: url(images/film.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_mpg {
  background: url(images/film.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_mpeg {
  background: url(images/film.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_ogg {
  background: url(images/music.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_pcx {
  background: url(images/picture.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_pdf {
  background: url(images/pdf.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_php {
  background: url(images/php.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_png {
  background: url(images/picture.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_ppt {
  background: url(images/ppt.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_psd {
  background: url(images/psd.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_pl {
  background: url(images/script.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_py {
  background: url(images/script.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_rb {
  background: url(images/ruby.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_rbx {
  background: url(images/ruby.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_rhtml {
  background: url(images/ruby.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_rpm {
  background: url(images/linux.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_ruby {
  background: url(images/ruby.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_sql {
  background: url(images/db.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_swf {
  background: url(images/flash.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_tif {
  background: url(images/picture.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_tiff {
  background: url(images/picture.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_txt {
  background: url(images/txt.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_vb {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_wav {
  background: url(images/music.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_wmv {
  background: url(images/film.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_xls {
  background: url(images/xls.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_xml {
  background: url(images/code.png) left top no-repeat;
}
UL.jqueryFileTree LI.ext_zip {
  background: url(images/zip.png) left top no-repeat;
}
UL.jqueryFileTree A {
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: 0 2px;
}
UL.jqueryFileTree A:hover {
  background: #BDF;
}
