/*Panel Style*/
a.action {
  float: left;
  margin-right: 5px;
  &:last-child{
    margin-right: 0px;
  }
}
button.action {
  float: left;
  border: none;
}

/*File Upload Skin*/
.fileUpload{
  .btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      background: red;
      cursor: inherit;
      display: block;
    }
  }
  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }
}

/* select2 custom style*/
.select2-selection.select2-selection--single {
  border-radius: 0px;
  height: 35px;
  margin: 0px;
}

/*Switch Language*/
select.switch-language{
  margin-top: 8px;
}

/*Toastr Style Override*/
#toast-container {
  top: 60px;
}

/*Custom Fields Page*/
#custom-fields{
  label{
    display: block;
  }
  .form-group{
    background-color: #EAEAEA;
    padding: 15px 20px;
    border: 1px solid #D8D5D5;
    border-radius: 5px;
    a{
      &.cf-delete{
        float:right;
      }
    }
  }
}


/*Gallery styles*/

#MZ-gallery{
  .mediazer-wrapper{
    float: left;
    margin-right: 20px;
  }
  .upload-box{
    display: block;
    padding: 10px 20px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    border-bottom: 1px solid gainsboro;
  }
  .items{
    .ui-gallery-highlight{
      float: left;
      width: 150px;
      min-height: 250px;
      height: 250px;
      border-top: 3px solid #FF0000;
      margin: 0 20px 0 10px;
    }
    .ui-sortable-helper{
      left: 0px;
      right: 0px;
    }
    .ui-sortable-handle{}
    .item{
      padding: 0px;
      position: relative;
      img{
        //margin: 0 auto;
        height: auto !important;
        &.img-responsive{
          width: 95% !important;
          margin-bottom: 30px;
        }
      }
      .fa{
        position: absolute;
        width: 30px;
        height: 25px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: white;
        background-color: #001a35;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
        &.fa-edit{
          top: 4px;
          left: 4px;
        }
        &.fa-close{
          top: 4px;
          left: 35px;
        }
      }
    }
  }
  .item-edit{
    background-color: #EBEBF3;
    padding: 10px;
    .gallery-edit-close{
      font-size: 20px;
      text-align: center;
      i.fa.fa-close{
        float: right;
      }
    }
  }
  a#MZ-delete-media{
    display: none;
  }
}

/**
MENU STYLE
**/

/**
 * Nestable
 */
.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }
.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background:         linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }
.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }
.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
/**
 * Nestable Extras
 */
.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }
#nestable-menu { padding: 0; margin: 20px 0; }
#nestable-output{ width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }
#nestable2 .dd-handle {
  color: #fff;
  border: 1px solid #999;
  background: #bbb;
  background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
  background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
  background:         linear-gradient(top, #bbb 0%, #999 100%);
}

@media only screen and (min-width: 700px) {
  .dd { float: left; width: 48%; }
  .dd + .dd { margin-left: 2%; }
}
.dd-hover > .dd-handle { background: #2ea8e5 !important; }
/**
 * Nestable Draggable Handles
 */
.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background:         linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }
.dd-dragel > .dd3-item > .dd3-content { margin: 0; }
.dd3-item > button { margin-left: 30px; }
.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
  border: 1px solid #aaa;
  background: #ddd;
  background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
  background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background:         linear-gradient(top, #ddd 0%, #bbb 100%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }

a.dd-action.action-delete{
  float: right;
  display: block;
  text-align: right;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  padding: 0px 5px;
  color: #BD4040;
  border: 1px solid #D63434;
  border-radius: 35px;
  margin: 5px 9px 5px 0;
  cursor: pointer;
}
#menu-list{

 .not-found{
   display: block;
   color:red;
   text-align: center;
 }
}


/*Baum Category List*/
ul#categories{
  display: block;
  li{
    font-size: 18px;
  }

  span{
    .title{
        background-color: gainsboro;
        padding: 5px 10px;
        display: block;
    }
  }
}