.table-filter{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(210, 206, 206);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(210, 206, 206);
  display: table-header-group;
}
a.custom-toggle{
  float: right;
  font-size: 15px;
  border: 1px solid rgb(208, 207, 207);
  padding: 0 5px;
  cursor: pointer;
}