.table-filter {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #d2cece;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #d2cece;
  display: table-header-group;
}
a.custom-toggle {
  float: right;
  font-size: 15px;
  border: 1px solid #d0cfcf;
  padding: 0 5px;
  cursor: pointer;
}
