$color-bg:#ede5d9;
$color-btn:#cc0066;
@import './hover.scss';
@import './responsive.scss';
body {
    background-color: #fbfaf8;
    padding-top: 0px;
}

#navbar-top {
    // height: 120px;
    min-height: 70px;
    background-color: white;
    margin-bottom: 0px;
    padding-top: 30px;
    .navbar-brand {
        img {
            max-width: 295px;
        }
    }
}

section.slider {
    background-color: $color-bg;
}

.bg-1 {
    background: url(../../img/bg-1.png) top left;
    min-height: 150px;
    display: block;
}

.home {
    section.categories {
        h2 {
            text-align: center;
        }
        .item {
            margin: 10px 0px;
            img {
                margin: 0 auto;
                border: 5px solid #f5f1ea;
            }
            &:hover {
                img {
                    border: 5px solid white;
                }
            }
            .title {
                display: block;
                text-align: center;
                color: #5b2a18;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}

.navbar-default {
    ul.navbar-nav {
        li {
            a {
                border-radius: 4px;
                background-color: #C06;
                background-repeat: no-repeat;
                -webkit-transition: .2s linear;
                -moz-transition: .2s linear;
                -o-transition: .2s linear;
                transition: .2s linear;
                color: white;
                font-weight: bold;
                margin: 5px;
                padding: 8.5px;
                &:hover {
                    background-color: #f28817 !important;
                    color: white;
                }
            }
        }
    }
}

.sidebar {
    .title {
        line-height: 33px;
        color: #512a2b;
        font-size: 23px;
        font-weight: 700;
        border-bottom: 1px solid #d6caca;
        background: none;
        border-radius: 0px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        display: block;
    }
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        li {
            display: block;
            font-size: 20px;
            a {
                display: block;
                text-decoration: none;
                color: black;
                padding: 5px;
            }
            &.active {
                a {
                    color: white;
                    background-color: $color-btn;
                }
            }
        }
    }
}

.list {
    img {
        &.img-thumbnail {
            border: none;
            border-radius: 1px;
            padding: 15px;
        }
    }
}

.full-img {
    width: 100%;
}

// FOOTER
footer {
    background-color: #0c1a1e;
    min-height: 350px;
    font-family: 'Open Sans', sans-serif;
}

.footerleft {
    margin-top: 50px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.footerleft p {
    color: #fff;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #999;
}

.paddingtop-bottom {
    margin-top: 50px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul li {
    line-height: 29px;
    font-size: 12px;
}

.footer-ul li a {
    color: #a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #ff670f;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.mb10 {
    margin-bottom: 10px !important;
}