/*========== Mobile First Method  ==========*/

// @media only screen and (min-width: 320px) {}
// @media only screen and (min-width: 480px) {}
// @media only screen and (min-width: 768px) {}
// @media only screen and (min-width: 992px) {}
// @media only screen and (min-width: 1200px) {}

/*==========  Non-Mobile First Method  ==========*/

// @media only screen and (max-width: 1200px) {}
// @media only screen and (max-width: 992px) {}
// @media only screen and (max-width: 768px) {}
// @media only screen and (max-width: 480px) {}
// @media only screen and (max-width: 320px) {}
@media only screen and (min-width: 1200px) {
    #navbar-top {
        height: 120px;
    }
}

@media only screen and (max-width: 768px) {
    #navbar-top {
        .navbar-brand {
            img {
                margin-top: -20px;
            }
        }
    }
}